<div class="map"
     leaflet
     [leafletOptions]="options"
     [leafletLayers]="layers"
     (leafletMapReady)="onMapReady($event)">
</div>
<div class="search-container">
  <input #searchQuery />
  <button (click)="findLatLng(searchQuery.value); searchQuery.value = ''">Поиск</button>
  <ng-container *ngIf="latitude && longitude">{{latitude}},{{longitude}}</ng-container>
</div>
